* {
    font-family: Helvetica, Arial, sans-serif;
  }
   
   
  h1 {
    color: SeaGreen;
  }
   
   
  p, 
  li {
    font-size: 18px;
  }
   
  header ul {
      list-style: none;
      display: inline-block;
  }

  header ul li {
      display: inline-block;
  }
   
  a {
    text-decoration: none;
  }

  main {
      background-color: blueviolet;
  }